@using MessagingApp.Data

<div class="card my-3">
    <div class="card-body">
        <div>
            <Username Name="@Details.PostedBy"/>
            <Time Value="@Details.PostedOn"/>
        </div>
        <MessageText Message="@Details.Message"/>
    </div>
</div>

@code {
    [Parameter]
    public PostMessage Details { get; set; }
}


