@using MessagingApp.Data

<div class="card my-3">
    <div class="card-body">
        <EditForm Model="NewMessage" OnInvalidSubmit="HandleSubmit">
            <div class="form-group">
                <InputTextArea 
                @bind-Value="NewMessage.Message"
                class="form-control"
                placeholder="Try something witty here!"/> 
            </div>
            <button class="btn btn-primary">Post</button>
        </EditForm>
    </div>
</div>

@code {
    public PostMessage NewMessage { get; set; } = new PostMessage();

    [Parameter]
    public EventCallback<PostMessage> OnPosted { get; set; }

    public void HandleSubmit()
    {
        NewMessage.PostedBy = "";
        NewMessage.PostedOn = DateTime.Now;
        OnPosted.InvokeAsync(NewMessage);

        NewMessage = new PostMessage();
    }
}